<form action="/records/{{ record._id }}?_method=PUT" method="POST">
  <input type="text" placeholder="name" name="name" value="{{ record.name }}">
  <button type="submit">儲存</button>
  <a href="/">回首頁</a>
</form>