<h1>This is INDEX!</h1>

<ul>
  {{#each records}}
  <li>
    {{this.name}}
    <a href="./records/{{ this._id }}/edit">修改</a>
    <a href="./records/{{ this._id }}/delete">刪除</a>
  </li>
  {{/each}}
</ul>


<a href="./records/new" class="btn btn-success">新增支出</a>